body{
    text-align:center;
}

h1 img{
    width:489px;
    
}

input{

    border:1px solid black;
    background:#fdfdfd;
    font-size:20px;
    padding: 10px;
    margin:4px;
}

button{
    border:1px solid black;
    background:#8d8d8d;
    font-size:20px;
    padding:10px;
   width:265px;
}


.result{
    padding:10px;
    border:1px solid #d8d8d8;
    background:#fdfdfd;
}